﻿@{
    ViewData["Title"] = "Home Page";
}
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quote{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        text-align:center;
        padding:30px;

}

    .container {
        padding: 0; 
    }
</style>
<body style="margin: 0; padding: 0;background: rgb(83,62,171);">

   
    <div class="background-image" style="margin: 0; padding: 0; width:100%;height:100vh; background-image: url('/images/Section 8.png'); background-size: cover; background-position: center;">
        <div class="quote">
            <span style="color: white;">Redefining</span>
            <span style="color: orange;">Your</span>
            <span style="color: white;">Travel</span>
            <span style="color: orange;">Experience!</span>
        </div>
      
        <div style="margin-top:20px">
            <section  class="search-bar" style=" padding: 1rem; text-align: center;">
                <form method="get" asp-action="Index">
                    <input type="text" name="term1" placeholder="From">
                    <input type="text" name="term2" placeholder="To">
                    <input type="date" name="term3" style="padding: 0.7rem; border: 1px solid lightgray; border-radius: 0.25rem; font-size: 1rem; width: 25%">
                    <button type="submit" href="#searchSection"><i class="fa fa-search"></i> Search</button>
                    <a class="btn btn-default" href="/Home/Index">All</a>
                </form>
            </section>
        </div>
    </div>

    

</body>


